/*
Document   : mediasite.css
Created on : Jul 2, 2010, 8:24:51 AM
Author     : wilkersonj
Description:
    Purpose of the stylesheet follows.
*/

/*
The main style-sheet for the website.
*/

@mixin rounded-top-corners {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

@mixin rounded-bottom-corners {
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

$primary-color:#CCCCCC;
$accent-color:#808080;

$full-width: 752px;
body
{
  font-family:sans-serif;
}

h3
{
  font-size:large;
}

a
{
  color: black;
  text-decoration: none;
  font-size:large;

  &:visited
  {
    color: black;
  }

  &:hover
  {
    background:none;
    color: white;
  }


}

ul
{
  padding-left:0px;
}

textarea
{
  resize: none;
}


.header
{
  width: $full-width;
  height:60px;
  margin:0 auto;
}

.footer
{
  width: $full-width;
  height:100px;
  position:relative;
  margin:0 auto;
}

.content-row
{
  width:100%;

}

.col-wrapper
{
  width: $full-width;
  margin:0 auto;
}

.middle-col
{
  width: $full-width;
}

.content-link
{
  width:251px;
  height:30px;
  padding-top: 12px;
  font-size:large;
  float:left;
  background:none;

  &:a
  {
    display:block;
    width:100%;
    height:100%;        
    text-decoration: none;
  }

  &:hover
  {
    background: $accent-color;
    @include rounded-top-corners;
     }
}

.selected-content-link
{
  width:251px;
  height:30px;
  padding-top: 12px;
  font-size:large;
  float:left;
  background: $accent-color;
  @include rounded-top-corners; 

  :a
  {
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
  }
}


.content-links
{
  clear:both;
  text-align:center;
  width: $full-width;
  height: 40px;
  @include rounded-top-corners;
  background: $primary-color;
  border-bottom:2px solid $accent-color;
}


.display-window
{
  background:black;
  width: $full-width;
  height:400px;
  @include rounded-bottom-corners;
}

.maintenance-window
{
  border-left:1px solid black;
  border-right:1px solid black;
  border-bottom:1px solid black;
  padding-top:1px;
  padding-left:4px;
  padding-right:4px;
  width: $full-width;
  font-size:small;
  @include rounded-bottom-corners;
}

.movie-maintenance
{
  border-bottom:1px solid grey;
  width: $full-width;
  height:310px;
}      

.show-maintenance
{
  border-bottom:1px solid grey;
  width: $full-width;
  height:310px;
}

.song-maintenance
{        
  width: $full-width;
  height:310px;
}

.new-entry
{
  width:371px;
  height:300px;
  float:left;
}

.select-entry
{
  width:371px;
  height:300px;
  float:left;
}

.select-box
{
  width:371px;
  height:275px;
  margin-bottom:5px;
  float:left;
  overflow:auto;
}

.content-column
{
  margin-top:1px;
  padding-top:5px;
  padding-bottom:5px;
  border:1px solid black;
  width: $full-width;
  height:400px;
  float:left;
  @include rounded-top-corners; 
  @include rounded-bottom-corners;
}

.movie-column
{
  width:249px;
  height:400px;
  float:left;
  border-right:1px solid $accent-color;
}

.show-column
{
  width:249px;
  height:400px;
  float:left;
  border-right:1px solid $accent-color;
}

.music-column
{
  width:249px;
  height:400px;
  float:left;
}

.band-column
{
  width:249px;
  height:400px;
  float:left;
  border-right:1px solid $accent-color;
}

.category-column
{
  width:249px;
  height:400px;
  float:left;
  border-right:1px solid $accent-color;
}

.playlist-column
{
  width:249px;
  height:400px;
  float:left;
}

.show-grid
{
  margin-top:1px;
  padding-top:5px;
  padding-bottom:5px;
  width: $full-width;
  height:400px;
  float:left;
  @include rounded-top-corners;
}

.movie-grid
{
  margin-top:1px;
  padding-top:5px;
  padding-bottom:5px;
  width: $full-width;
  height:400px;
  float:left;
  @include rounded-top-corners 
}


