/*
Document   : mediasite.css.scss
Created on : Dec 5, 2011
Author     : Jared Wilkerson
Description:
             
The main style-sheet for the website.
*/

@mixin rounded-top-corners {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

@mixin rounded-bottom-corners {
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

$primary-color:#CCCCCC;
$accent-color:#808080;
$font-color: #000000;
$link-highlight-color: #FFFFFF;
$border-properties: 1px solid #000000;

$full-width: 753px;
$content-link-width: 251px;
$maintenance-content-window-width: 310px;
$category-column-width: 249px;

body
{
  font-family:sans-serif;
}

h3
{
  font-size:large;
}

a
{
  color: $font-color;
  text-decoration: none;
  font-size:large;

  &:visited
  {
    color: $font-color;
  }

  &:hover
  {
    backgound: $accent-color;
    color: $link-highlight-color;
  }


}

ul
{
  padding-left:0px;
}

textarea
{
  resize: none;
}


.header
{
  width: $full-width;
  height:60px;
  margin:0 auto;
}

.footer
{
  width: $full-width;
  height:100px;
  position:relative;
  margin:0 auto;
}

.content-row
{
  width:100%;

}

.col-wrapper
{
  width: $full-width;
  margin:0 auto;
}

.middle-col
{
  width: $full-width;
}

.content-link
{
  width: $content-link-width;
  height:30px;
  padding-top: 12px;
  font-size:large;
  float:left;
  background:none;

  &:a
  {
    display:block;
    width:100%;
    height:100%;        
    text-decoration: none;
  }

  &:hover
  {
    background: $accent-color;
    cursor: pointer;
    a{
      color: $link-highlight-color;
    }
    @include rounded-top-corners;
  }
}

.selected-content-link
{
  width: $content-link-width;
  height:30px;
  padding-top: 12px;
  font-size:large;
  float:left;
  background: $accent-color;
  @include rounded-top-corners; 

  :a
  {
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
  }
}


.content-links
{
  clear:both;
  text-align:center;
  width: $full-width;
  height: 40px;
  @include rounded-top-corners;
  background: $primary-color;
  border-bottom:2px solid $accent-color;
}


.display-window
{
  background:black;
  width: $full-width;
  height:400px;
  @include rounded-bottom-corners;
}

.maintenance-window
{
  border-left: $border-properties;
  border-right: $border-properties;
  border-bottom: $border-properties;
  padding-top:1px;
  padding-left:4px;
  padding-right:4px;
  width: $full-width;
  font-size:small;
  @include rounded-bottom-corners;
}

.movie-maintenance
{
  border-bottom: $border-properties;
  width: $full-width;
  height: $maintenance-content-window-width;
}      

.show-maintenance
{
  border-bottom: $border-properties;
  width: $full-width;
  height: $maintenance-content-window-width;
}

.song-maintenance
{        
  width: $full-width;
  height: $maintenance-content-window-width;
}

.new-entry
{
  width:371px;
  height:300px;
  float:left;
}

.select-entry
{
  width:371px;
  height:300px;
  float:left;
}

.select-box
{
  width:371px;
  height:275px;
  margin-bottom:5px;
  float:left;
  overflow:auto;
}

.content-column
{
  margin-top:1px;
  padding-top:5px;
  padding-bottom:5px;
  border: $border-properties;
  width: $full-width;
  height:400px;
  float:left;
  @include rounded-top-corners; 
  @include rounded-bottom-corners;
}

.movie-column
{
  width: $category-column-width;
  height:400px;
  float:left;
  border-right:1px solid $accent-color;
}

.show-column
{
  width: $category-column-width;
  height:400px;
  float:left;
  border-right:1px solid $accent-color;
}

.music-column
{
  width: $category-column-width;
  height:400px;
  float:left;
}

.band-column
{
  width: $category-column-width;
  height:400px;
  float:left;
  border-right:1px solid $accent-color;
}

.music-category-column
{
  width: $category-column-width;
  height:400px;
  float:left;
  border-right:1px solid $accent-color;
}

.playlist-column
{
  width: $category-column-width;
  height:400px;
  float:left;
}

.show-grid
{
  margin-top:1px;
  padding-top:5px;
  padding-bottom:5px;
  width: $full-width;
  height:400px;
  float:left;
  @include rounded-top-corners;
}

.movie-grid
{
  margin-top:1px;
  padding-top:5px;
  padding-bottom:5px;
  width: $full-width;
  height:400px;
  float:left;
  @include rounded-top-corners 
}


